<footer class="footer">
  <div class="footer-content">
    <div class="element-footer">
        <p class="copyright">&copy; 2025 Nicolas BRUNET</p>
        <p class="nameProject">Projet Bibliothèque Angular</p>
        <a href="https://nicobru22.github.io/portfolio-brunet/">Site du développeur</a>
    </div>

    <div class="element-footer">
        <div class="linkContainer">
            <a href="https://github.com/nicoBru22/ma-bibliotheque-personnelle" target="_blank" class="linkRepo">
                <i class="fab fa-github"></i> Code Source
            </a>
            <a routerLink="/home" class="linkHome">Accueil</a>
        </div>
        <div class="hebergement">
            <p class="api-status">Hébergé sur GitHub Pages (Lecture seule)</p>
        </div>
    </div>

  </div>
</footer>