
.form-container {
  border-radius: 15px;
}

.btnSubmitForm {
  margin: 20px;
  border-radius: 20px;
  padding: 7px;
  background-color: chocolate;
  color: black;
  font-weight: bold;
}

.form-container {
  width: 500px;
  text-align: center;
  background-color: antiquewhite;
}

.form-group {
  margin-top: 20px;
}

.inputFormAdd {
  width: 70%;
}

.labelFormAdd {
  width: 100%;
}

.sectionAdd {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titreSectionAdd {
  margin: 20px;
}