app-add {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.form-container {
  width: 500px;
  text-align: center;
  background-color: antiquewhite;
}

.form-group {
  margin-top: 20px;
}